body{
    min-height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    background-image:url("bgsignupp.jpg");
    background-repeat:repeat;
    font-family:sans-serif;
}

main{
    display:flex;
    align-items:center;
    gap:40px;

    padding:22px;
    border-radius:12px;

    background:#d4a7479c;
    border:2px solid black;

    box-shadow:7px 7px 0px #360202;
}

img{
    width:350px;
    height:470px;
    object-fit:cover;

    border-radius:10px;
    border:2px solid black;

    box-shadow:8px 8px 0px #d4a747;
}

fieldset{
    border:none;
    display:flex;
    flex-direction:column;
    gap:15px;
    width:300px;
}

legend{
    font-family: 'UnifrakturMaguntia', cursive;
    font-size:40px;
    text-align:center;
    color:#d4a747;
    text-shadow:2px 3px 0px #000;
}

label{
    font-family: 'UnifrakturMaguntia', cursive;
    color:black;
}

input{
    padding:10px;
    border-radius:10px;
    border:2px solid black;
    background:#3e0404;
    color:white;
    box-shadow:3px 3px 0px #D4A847;
}

button{
    padding:10px;
    border-radius:6px;
    border:2px solid black;
    background:#3e0404;
    color:#d4a747;
    font-family: 'UnifrakturMaguntia', cursive;
    cursor:pointer;
}

.error{
    color:darkred;
    font-family: 'UnifrakturMaguntia', cursive;
}
